@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Biały tekst */
  --background-start-rgb: 0, 0, 0; /* Czarne tło */
  --background-end-rgb: 0, 0, 0; /* Czarne tło */
}

body {
  color: rgb(var(--foreground-rgb)); /* Tekst będzie biały */
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb)); /* Czarne tło */
}

